$bodyColor: rgb(73, 94, 123);
$green: #56ccc8;
$blacktext: #475055; 
$grey: #c5cdd1;
$neonBlue: rgb(21, 40, 64);
$facebookBlue: #4d6baa;
$twitterBlue: #4fc6f8;
$linkInBlue: #238cc8;
$buttonRed: #ed6060; 