@import "veriables";
@import "global";
@import "nav";
@import "slider";

.main {
    position: relative;
}

@media (min-width: 920px) {
    .main {
        display: flex;
    }
}

.main-down {
    top: 320px;
}

.left-col {
    margin: .5rem;
    margin-top: 0px;
    flex: 1;
}

@media (min-width: 500px) {
    .left-col {
        display: flex;
    }
}

.right-col {
    flex: 1;
    flex-wrap: wrap;
}

@media (min-width: 500px) {
    .right-col {
        display: flex;
    }
}

.left-side {
    flex: 1;

    display: flex;
    flex-direction: column;
}

.right-side {
    flex: 1;

    display: flex;
    flex-direction: column;   
}

.links {
    flex: 5;

    background-color: white;
    display: flex;
    flex-direction: column;
}

.links-grey {
    flex: 3;

    background-color: $grey;
    display: flex;
    flex-direction: column;
    padding: .5rem 0;
}

.item {
    flex: 1;

    display: flex;
    align-items: center;
    border-bottom: 1px solid $grey;
    padding: 1rem 0;
    transition: .2s;
    &__link {
        text-decoration: none;
        color: $blacktext;
        font-size: 1.2rem;
        display: flex;
        &--white {
            color:white;
            font-size: 1rem;
            &:hover .left-icon{
                transform: scale(1.2);
            }
        }
    }
    &--noborder {
        border-bottom: none;
    }
    &__icon {
        margin: 0 1rem;
        fill: $grey;
        flex: 1 1 50px;;
        width: 2rem;
        height: 2rem;
    }
    &__text {
        flex: 2;
        font-size: 1rem;
    }
    &:hover {
        background-color: $green;
        cursor: pointer;
        & .item__icon {
            fill: white;
        }
        & .item__link {
            color: white;
        }
    }
    &--transparent {
        &:hover {
            background-color: transparent;
        }
    }
}

.link {
    display: flex;
}

.left-icon {
    width: 2rem;
    height: 2rem;
    margin: 1rem;
    fill: white;
}

.box {
    flex: 1;
    background-color: $neonBlue;
    color: white;
    position: relative;
    padding: 1.4rem;
    &:hover {
        background-color: lighten($neonBlue, 10%);
    }
    &:not(:first-child) {
        border-top: 1px solid $grey;
    }
}

.box__item {
    font-size: 1rem;
    padding-top: .8rem;
    cursor: pointer;
    display: flex;
    &:hover {
        color: $green;
    }

}

.box__item:hover .green-icon {
    fill: white;
}

.green-icon:hover .box__item:first-child  {
    color: white;
}



.box__item:first-child {
    font-size: 1.1rem;
    color: $green;
    margin-bottom: .2rem;
    &:hover {
        color: white;
    }
    &:hover .green-icon {
        color: white;
    }
}


.green-icon {
    position: absolute;
    top: 2.2rem;
    right: 1.4rem;
    width: 1.5rem;
    height: 1.5rem;
    fill: $green;
    cursor: pointer;
}

.right-links {
    padding: 1.4rem;
    background-color: white;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media (min-width: 500px) {
    .right-links {
        margin: .5rem;
        margin-top: 0px;
    }
}

.social-icon {
    width: 2rem;
    height: 2rem;
    fill: $grey;
    margin-right: 1rem;
}

.rss-icon {
    box-sizing: border-box;
    width: 2rem;
    height: 2rem;
    fill: white;
    background-color: $grey;
    border-radius: 50%;
    padding: 1em;
    
}

.media {
    position: relative;
    flex: 1;
    padding: 1rem;
    color: white;
    font-weight: 100;
    min-height: 150px;
    &:hover {
        cursor: pointer;
    }
}

@media (min-width: 500px) {
    .media {
        margin: .5rem;
        margin-top: 0px;
    }
}

.media__facebook {
    background-color: $facebookBlue;
    &:hover {
        background-color: darken($facebookBlue, 10%);
    }
}

.media__twitter {
    background-color: $twitterBlue;
    &:hover {
        background-color: darken($twitterBlue, 10%);
    }
}

.media__icon {
    font-size: 3rem;
    margin-bottom: 2rem;
    &:hover {
        transform: scale(1.2);
    }
}

.icon-facebook,
.icon-twitter {
    width: 3rem;
    height: 3rem;
    position: absolute;
    top: 1.5rem;
    left: 1.2rem;
    fill: white;
}

.icon-circle-with-plus {
    width: 1.8rem;
    height: 1.8rem;
    position: absolute;
    right: -2.2rem;
    bottom: -0.3rem;
    fill: white;
}

.media__number {
    position: absolute;
    left: 1rem;
    bottom: 1.1rem;
    font-size: 1rem;
    font-weight: 400;
}

.media__follow {
    position: absolute;
    bottom: 1.1rem;
    right: 3rem;
    font-size: 1rem;
}
.media__follow:hover .icon-circle-with-plus {
    transform: scale(1.2);
}



.media__icon--follow {
    font-size: 1.4rem;
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    &:hover {
        transform: scale(1.2);
    }
}

.sign {
    width: 100%;
    padding: 1rem;
    background-color: white;
    &:last-child {
        padding-bottom: 3rem;
    }
}

@media (min-width: 500px) {
    .sign {
        margin: .5rem;
        &:last-child {
            padding-bottom: 1rem;;
        }
    }
}

.sign__heading {
    text-align: center;
    font-size: 1.4rem;
    margin-bottom: .6rem;
}

.sign__paragraph {
    font-size: 1rem;
    text-align: center;
    margin-bottom: 2rem;
}

.socialmedia {
    margin: 0 auto;
    width: 80%;
    text-align: center;
}

.form-group {
    display: flex;
    flex-direction: column;
}

@media (min-width: 400px) {
    .form-group {
        flex-direction: row;
    }
}

.input {
    flex: 1;
    padding: .6rem;
    color: $grey;
}

::-webkit-input-placeholder {
    font-size: 1rem;
}

.submit {
    padding: .8rem 1.1rem;
    margin-top: .5rem;
    width: 100%;
    color: white;
    background-color: $buttonRed;
    border: none;
    cursor: pointer;
    border-radius: 2px;
}

@media (min-width: 400px) {
    .submit {
        margin-left: 1rem;
        width: auto;
        margin-top: 0;
    }
}

.icon-facebook-with-circle:hover,
.icon-twitter-with-circle:hover,
.icon-google-with-circle:hover,
.icon-linkedin-with-circle:hover {
    transition: .3s;
    transform: scale(1.5);
    cursor: pointer;
}

.icon-facebook-with-circle:hover {
    fill: $facebookBlue;
}

.icon-twitter-with-circle:hover {
    fill: $twitterBlue;
}

.icon-google-with-circle:hover {
    fill: $buttonRed;
}

.icon-linkedin-with-circle:hover {
    fill: $linkInBlue;
}

.item:hover .icon-facebook-with-circle,
.item:hover .icon-twitter-with-circle,
.item:hover .icon-google-with-circle,
.item:hover .rss-icon,
.item:hover .icon-pinterest-with-circle {
    transform: scale(1.5);
    transition: .3s;
}

.item:hover .icon-facebook-with-circle {
    fill: $facebookBlue;
}

.item:hover .icon-twitter-with-circle {
    fill: $twitterBlue;
}

.item:hover .icon-google-with-circle {
    fill: $buttonRed;
}

.item:hover .rss-icon {
    background-color: $rssFeed;
}

.item:hover .icon-pinterest-with-circle {
    fill: $buttonRed;
}